<p>Id: <%= appointment_setting.id %></p>
<p>Title: <%= appointment_setting.title %></p>
<p>URL: <%= appointment_setting.url %></p>
<p>Ref: <%= appointment_setting.ref %></p>
<p>Created: <%= appointment_setting.created_at %></p>
<p>Updated: <%= appointment_setting.updated_at %></p>
